.comment-container.client {
    background: " $color-4";
    border: none;
    border-radius: "20px 20px 6px 20px";
}

.comment-container {
    display: "grid";
    grid-template-columns: " 50px 1fr";
    border: "1px solid $color-2";
    padding: "15px";
    margin: "5px 0";
    border-radius: "20px 20px 20px 6px";
}